@use "variables" as *;
@use "mixins" as *;

.hamburger-menu {
	border: none;
	background: none;
	position: relative;
	width: 2rem;
	height: 100%;
	cursor: pointer;
}

.bar {
    @include bar-common();
	// width: 100%; 
    // i am setting this to two rem in the mixin above
    // seems equivalent but just in case its not i am leaving a comment
	top: 50%;
	right: 0;
	margin-top: -0.3125rem;
	opacity: 1;
}

.bar::before {
	@include bar-common();
	top: .5rem;
}

.bar::after {
	@include bar-common();
	bottom: .5rem;
}

.bar::after, .bar::before, .bar {
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

.hamburger-menu.menu-on .bar::after {
	transform: rotate(-45deg);
	 -webkit-transform: rotate(-45deg);
	bottom: 0;
}

.hamburger-menu.menu-on .bar::before {
	transform: rotate(45deg);
	 -webkit-transform: rotate(45deg);
	top: 0;
}

.hamburger-menu.menu-on .bar {
   background: rgba(111,111,111,.0);
}

#site-navigation {
	display: none;

	ul {
		padding: 0;
		margin: 0;
	}

	li {
		list-style: none;
		text-shadow: 2px 4px 10px #ffffff79;
	}

	a {
			display: block;
			text-decoration: none;
			padding: 2rem;
			color: var(--text-color);
			font-size: 1rem;
			font-weight: 700;
			font-family: "Domine", serif;
		}
}


li:nth-child(odd) {
	background-color: var(--alternating-color-odd);
}

#site-navigation.toggled {
	display: block; 
	position: absolute;
	text-align: center;
	top: 1.5rem;
	right: 0;
	height: auto;
	width: 100%;
	margin: 0;
	transform: translateY(4.5rem);
	background-color: whitesmoke;
} 

@media (min-width: 72.5em) {

	.hamburger-menu {
		display: none;
	}

	#site-navigation {

		display: block;
		
		a {
			padding: .5rem 1rem;
			background-color: var(--background-color);
			border-radius: 1rem;
			margin: .25rem;
			&:hover,
			&:focus,
			&:active {
				background-color: var(--text-color);
				transition: background-color 0.2s ease;
				color: var(--background-color);
			}	
		}
	}


	li:nth-child(odd) {
		background-color: var(--alternating-color-odd);
	}

	#site-navigation li:nth-child(odd) {
		background: none;
	}

	#site-navigation ul,
	#site-navigation.toggled ul {
		display: flex;
	}


}