//colors
$brand-color: #04760e;
$banner-color: #badcb7;
$alternating-color-odd: #eaf1ea;
$background-color: #f0f6ef;
$text-color: #325528;
$box-shadow: 0 0.25rem 0.125rem -0.125rem #808080c9;
$all-shadow: 0 0 0.1875rem 0.125rem rgba(0, 0, 0, 0.112);

$body-fonts: "Montserrat", sans-serif;
$logo-text:  "Domine", serif;