/********** General Layout **********/

/* To be added for the assignment - Reqeuirements:

- 3 or more custom CSS properties
- 1 or more instance of each of the following: 
    * Descendant
    * Child
    * Adjacent
    * General Sibling
    * Attribute Selector
    * Any of the following pseudo selectors: :first-child, :last-child, :nth-child()
- At least one of the following CSS technologies (one of each or one of this list?):
    * CSS transitions
    * CSS animations
    * Css transforms
- Web page must be fully responsive and be usable between screen width of 320px and 1920px.
- Make sure everything is merged into the main branch before submitting assignment.  */

body {
    /* Just some placeholder stuff for now */  
    background-color: #ffffff; 
    font-family: "Montserrat", sans-serif;
    color: #000000;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.site-wrapper {
	max-width: 120rem;
	margin: 0 auto;
}

a,
a:visited { 
	color: #000000;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #646464;
	text-decoration: underline;
}

a:active {
	color: #646464;
}

/* Utility Class - Pasted from Assignment #2 */

.sr-only {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    padding: 0;
    margin: -0.0625rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/********** Site Header & Navigation **********/

/* Just pasted this from the last assignment for now -- Hamburger Menu CSS code based on: https://codepen.io/nelsonswork/pen/XbbJVx */

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: 6rem;
    background-color: #cbcbcb;
}

.hamburger-menu {
	border: none;
	background: none;
	position: relative;
	width: 2rem;
	height: 100%;
	cursor: pointer;
}

.bar {
	position: absolute;
	background: black;
	width: 100%;
	height: 0.3125rem;
	top: 50%;
	right: 0;
	margin-top: -0.3125rem;
	opacity: 1;
}

.bar::before {
	position: absolute;
	background: black;
	width: 2rem;
	height: 0.3125rem;
	top: .5rem;
	content: "";
	display: block;
}

.bar::after {
	position: absolute;
	background: black;
	width: 2rem;
	height: 0.3125rem;
	bottom: .5rem;
	content: "";
	display: block;
}

.bar::after, .bar::before, .bar {
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

.hamburger-menu.menu-on .bar::after {
	transform: rotate(-45deg);
	 -webkit-transform: rotate(-45deg);
	bottom: 0;
}

.hamburger-menu.menu-on .bar::before {
	transform: rotate(45deg);
	 -webkit-transform: rotate(45deg);
	top: 0;
}

.hamburger-menu.menu-on .bar {
   background: rgba(111,111,111,.0);
}

#site-navigation ul {
	padding: 0;
	margin: 0;
}

#site-navigation li {
	list-style: none;
}

#site-navigation a {
	display: block;
	text-decoration: none;
	padding: 2rem;
	color: black;
	font-weight: bold;
}

#site-navigation {
	display: none;
}

#site-navigation.toggled {
	display: block; 
	position: absolute;
	text-align: center;
	top: 0;
	right: 0;
	height: auto;
	width: 100%;
	margin: 0;
	transform: translateY(4.5rem);
	background-color: whitesmoke;
} 

@media (min-width: 62.5rem) {

	.hamburger-menu {
		display: none;
	}

	#site-navigation {
		display: block;
	}

	#site-navigation a {
		padding: .75rem 1.25rem;
	}


	#site-navigation ul,
	#site-navigation.toggled ul {
		display: flex;
	}

	#site-navigation a:hover,
	#site-navigation a:focus,
	#site-navigation a:active {
		background-color: black;
		color: white;
	}

} 

/********** Site Footer **********/

footer {
    background-color: #cbcbcb;
    font-size: 1rem;
	padding: 1rem;
	margin: 0 auto;
	text-align: center;
	max-width: 120rem;
}

.footer-icons ul {
	background-color: #ffffff79;
	border-radius: 2rem;
	padding: 1rem 1rem .5rem;
	margin: 0 auto;
	display: inline-block;
}

.footer-icons li {
	padding: 0 .25rem;
	list-style: none;
	display: inline-block;
}

.footer-icons svg {
		width: 2rem;
		height: 2rem;
		margin: 0 auto;
	}

.footer-icons path {
	fill: currentColor;
}



