/* To be added for the assignment - Requirements:

- 3 or more custom CSS properties (Done!)
- 1 or more instance of each of the following: 
    * Descendant (Done!)
    * Child (done!)
    * Adjacent (done, I think!)
    * General Sibling (done!)
    * Attribute Selector (done!)
    * Any of the following pseudo selectors: :first-child, :last-child, :nth-child(). (done!)
- At least one of the following CSS technologies (one of each or one of this list?):
    * CSS transitions (Done! h2 changes on hover)
    * CSS animations
    * CSS transforms
- Web page must be fully responsive and be usable between screen width of 320px and 1920px. (Close to being done, I hope? there is some oddness along the sides sometimes.)
- Make sure everything is merged into the main branch before submitting assignment.  */

/********** Global Variables **********/

:root {
	--brand-color: #04760e;
	--text-color: #0b3300;
	--banner-color: #badcb7;
	--alternating-color-odd: #eaf1ea;
	--background-color: #f0f6ef;
	--box-shadow: 0 0.25rem 0.125rem -0.125rem #808080c9;
	--all-shadow: 0 0 0.1875rem 0.125rem rgba(0, 0, 0, 0.112);
}

/********** General Layout **********/

body {
    background-color: var(--background-color);
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.site-wrapper {
	max-width: 120rem;
	margin: 0 auto;
}

main {
	padding: 0 1rem;
}

a,
a:visited { 
	color: var(--text-color);
	text-decoration: none;
}

a:hover,
a:focus {
	color: var(--brand-color);
}

a:active {
	color: var(--text-color);
}

h2 {
	font-size: 1.75rem;
	transition-property: font-size, var(--text-color);
	transition-duration: .3s;
	transition-delay: 0s;
	margin: .25rem;
}

h2:hover{
	font-size: 1.76rem;
	color:#0c3900
}

h3 {
	font-size: 1.15rem;
	color: var(--brand-color);
}

img[alt*="broccoli"] {
	border: 1px solid var(--brand-color);
}

/********** Site Header & Navigation **********/

/* Hamburger Menu CSS code based on: https://codepen.io/nelsonswork/pen/XbbJVx */

.site-header {
	max-width: 120rem;
	margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 1rem .5rem;
    height: 6rem;
    background-color: var(--banner-color);
	box-shadow: var(--box-shadow);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.logo-and-text {
	display: flex;
	align-items: center;
}

.logo-and-text p {
	font-size: 2.5rem;
	font-family: "Domine", serif;
	font-weight: 700;
	padding-top: .75rem;
	padding-bottom: .25rem;
	margin: 0 1rem;
	border-bottom: .25rem solid var(--background-color);
}

.logo-and-text p + p {
	font-size: .89rem;
	font-family: "Domine", serif;
	font-weight: 400;
	padding: 0;
	margin: 0 1rem;
	border: none;
}

.logo-pic {
	position: relative;
	right: 0;
	box-shadow: var(--all-shadow);
	width: 4.6875rem;
	height: 4.75rem;
	padding: .25rem;
	border-radius: .5rem;
	margin: 1rem .5rem .5rem;
}

@media (max-width: 31.25em) {
	.logo-and-text p {
		font-size: 1.5rem;
	}

	.logo-and-text p + p {
		font-size: .6rem;
	}

	.logo-pic {
		display: none;
	}

}

.logo-pic:hover {
	background-color: var(--background-color);
	transition: background-color 0.5s ease-out;
}

.hamburger-menu {
	border: none;
	background: none;
	position: relative;
	width: 2rem;
	height: 100%;
	cursor: pointer;
}

.bar {
	position: absolute;
	background: var(--text-color);
	width: 100%;
	height: 0.3125rem;
	top: 50%;
	right: 0;
	margin-top: -0.3125rem;
	opacity: 1;
}

.bar::before {
	position: absolute;
	background: var(--text-color);
	width: 2rem;
	height: 0.3125rem;
	top: .5rem;
	content: "";
	display: block;
}

.bar::after {
	position: absolute;
	background: var(--text-color);
	width: 2rem;
	height: 0.3125rem;
	bottom: .5rem;
	content: "";
	display: block;
}

.bar::after, .bar::before, .bar {
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

.hamburger-menu.menu-on .bar::after {
	transform: rotate(-45deg);
	 -webkit-transform: rotate(-45deg);
	bottom: 0;
}

.hamburger-menu.menu-on .bar::before {
	transform: rotate(45deg);
	 -webkit-transform: rotate(45deg);
	top: 0;
}

.hamburger-menu.menu-on .bar {
   background: rgba(111,111,111,.0);
}

#site-navigation ul {
	padding: 0;
	margin: 0;
}

#site-navigation li {
	list-style: none;
	text-shadow: 2px 4px 10px #ffffff79;
}

li:nth-child(odd) {
	background-color: var(--alternating-color-odd);
}

#site-navigation a {
	display: block;
	text-decoration: none;
	padding: 2rem;
	color: var(--text-color);
	font-size: 1rem;
	font-weight: 700;
	font-family: "Domine", serif;
}

#site-navigation {
	display: none;
}

#site-navigation.toggled {
	display: block; 
	position: absolute;
	text-align: center;
	top: 1.5rem;
	right: 0;
	height: auto;
	width: 100%;
	margin: 0;
	transform: translateY(4.5rem);
	background-color: whitesmoke;
} 

@media (min-width: 72.5rem) {

	.hamburger-menu {
		display: none;
	}

	#site-navigation {
		display: block;
	}

	#site-navigation a {
		padding: .5rem 1rem;
		background-color: var(--background-color);
		border-radius: 1rem;
		margin: .25rem;
	}

	li:nth-child(odd) {
		background-color: var(--alternating-color-odd);
	}

	#site-navigation li:nth-child(odd) {
		background: none;
	}

	#site-navigation ul,
	#site-navigation.toggled ul {
		display: flex;
	}

	#site-navigation a:hover,
	#site-navigation a:focus,
	#site-navigation a:active {
		background-color: var(--text-color);
		transition: background-color 0.2s ease;
		color: var(--background-color);
	}

} 

/********** Main Content **********/

.top-flex {
	display: flex;
	flex-direction: column;
	max-width: 120rem;
	width: 98%;
	margin: .25rem;
}

#headline-main {
	margin-top: 8rem;
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	box-shadow: var(--all-shadow);
	padding: 1rem;
	align-items: center;
    justify-content: flex-start;
	background: url(../images/broccoli-background.jpg)no-repeat;
	background-size: cover;
	background-position: center;
	background-color:#badcb7cf;
	background-blend-mode: screen;
}

#headline-main p {
	font-size: 1rem;
}

.headline-article {
	max-width: 90vw;
	margin: .5rem;
	padding: .5rem;
	border-radius: 1rem;
	background-color: var(--background-color);
} 

.headline-image {
	margin: 0 auto; 
} 

@media (min-width: 90.625rem) {
	#headline-main {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-evenly;
		margin: 8rem 0rem 0rem;
		padding: .5rem;
	}

	.headline-image {
		margin: 0;
	}

	.headline-article {
		max-width: 50%;
	}
}

.trending {
	margin: 2rem 0rem 1rem;
	border-radius: 1rem;
	box-shadow: var(--all-shadow);
	padding: 2rem 1rem;
	font-size: 1rem;
}

.trending h2 {
	margin: 0 auto;
	text-align: center;
}

.trending p {
	background-color: #ffffff;
}

.trending ol li {
	padding: .25rem;
}


@media (min-width: 60em) {
	.top-flex {
		flex-direction: row;
		margin: .5rem 1rem .5rem 1.5rem;
	}

	#headline-main {
		width: 65%;
	}

	.trending {
		width: 34%;
		margin: 8rem .5rem 0rem;
		padding: 1rem 0;
	}
}

#headline-secondary {
	max-width: 120rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));
	gap: 1rem;
	padding-bottom: 3rem;
	padding-top: 2rem;
	justify-content: space-evenly;
	justify-items: center;
	align-content: space-evenly;
	align-items: center;
}

.grid-article {
	max-width: 18rem;
	padding: 1rem;
	box-shadow: var(--all-shadow);
	background-color: #ffffffa0;
	border-radius: 1rem;
}

.grid-article figure {
	margin: 0 auto;
	display: block;
}

.grid-article img {
	margin: 0 auto;
	display: block;
	max-width: 14rem;
}

@media (min-width: 23.125rem) {

	.grid-article {
		max-width: 22rem;
	}

	.grid-article img {
		max-width: 18rem;
	}
}

.grid-article h3 {
	margin: 1rem auto;
	padding-left: 1rem;
}

.grid-article p {
	padding-left: 1rem;
	font-size: .85rem;
}

/********** Site Footer **********/

footer {
    background-color: var(--banner-color);
    font-size: 1rem;
	padding: 1rem;
	margin: 0 auto;
	text-align: center;
	max-width: 120rem;
}

.footer-icons ul {
	background-color: #ffffff79;
	border-radius: 2rem;
	padding: 1rem 1rem .5rem;
	margin: 0 auto;
	display: inline-block;
}

.footer-icons li {
	padding: 0 .25rem;
	list-style: none;
	display: inline-block;
	background: none;
}

.footer-icons svg {
	width: 2rem;
	height: 2rem;
	margin: 0 auto;
}

.footer-icons path {
	fill: currentColor;
}

/* Note: Main Article Text & Article Headlines Generated by ChatGPT */