/* To be added for the assignment - Requirements:

- 3 or more custom CSS properties (Done!)
- 1 or more instance of each of the following: 
    * Descendant (Done!)
    * Child
    * Adjacent
    * General Sibling
    * Attribute Selector
    * Any of the following pseudo selectors: :first-child, :last-child, :nth-child()
- At least one of the following CSS technologies (one of each or one of this list?):
    * CSS transitions (Done! h2 changes on hover)
    * CSS animations
    * CSS transforms
- Web page must be fully responsive and be usable between screen width of 320px and 1920px. (Close to being done, I hope? there is some oddness along the sides, i think it's in site-main.)
- Make sure everything is merged into the main branch before submitting assignment.  */

/********** Global Variables **********/

:root {
	--brand-color: #04760e;  /* Random shades of green, can be changed later */
	--text-color: #0b3300;
	--banner-color: #badcb7;
	--background-color: #f0f6ef;
	--box-shadow: 0 0.25rem 0.125rem -0.125rem #808080c9;
}

/********** General Layout **********/

body {
    /* Just some placeholder stuff for now */  
    background-color: var(--background-color);
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.site-wrapper {
	max-width: 120rem;
	margin: 0 auto;
}

main {
	padding: 0 1rem;
}

a,
a:visited { 
	color: var(--text-color);
	text-decoration: none;
}

a:hover,
a:focus {
	color: var(--brand-color);
	text-decoration: underline;
}

a:active {
	color: var(--text-color);
}

h2 {
	transition-property: font-size, var(--text-color);
	transition-duration: .3s;
	transition-delay: 0s;
}

h2:hover{
	font-size: 1.512em;
	color:#0c3900
}
/********** Site Header & Navigation **********/

/* Just pasted this from the last assignment for now -- Hamburger Menu CSS code based on: https://codepen.io/nelsonswork/pen/XbbJVx */

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 1rem .5rem;
    height: 6rem;
    background-color: var(--banner-color);
	box-shadow: var(--box-shadow);
}

.site-header .logo-pic {
	position: relative;
	right: 0;
	border-radius: 1rem;
}

.hamburger-menu {
	border: none;
	background: none;
	position: relative;
	width: 2rem;
	height: 100%;
	cursor: pointer;
}

.bar {
	position: absolute;
	background: var(--text-color);
	width: 100%;
	height: 0.3125rem;
	top: 50%;
	right: 0;
	margin-top: -0.3125rem;
	opacity: 1;
}

.bar::before {
	position: absolute;
	background: var(--text-color);
	width: 2rem;
	height: 0.3125rem;
	top: .5rem;
	content: "";
	display: block;
}

.bar::after {
	position: absolute;
	background: var(--text-color);
	width: 2rem;
	height: 0.3125rem;
	bottom: .5rem;
	content: "";
	display: block;
}

.bar::after, .bar::before, .bar {
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

.hamburger-menu.menu-on .bar::after {
	transform: rotate(-45deg);
	 -webkit-transform: rotate(-45deg);
	bottom: 0;
}

.hamburger-menu.menu-on .bar::before {
	transform: rotate(45deg);
	 -webkit-transform: rotate(45deg);
	top: 0;
}

.hamburger-menu.menu-on .bar {
   background: rgba(111,111,111,.0);
}

#site-navigation ul {
	padding: 0;
	margin: 0;
}

#site-navigation li {
	list-style: none;
	text-shadow: 2px 4px 10px #ffffff79;
}

#site-navigation a {
	display: block;
	text-decoration: none;
	padding: 2rem;
	color: var(--text-color);
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
}

#site-navigation {
	display: none;
}

#site-navigation.toggled {
	display: block; 
	position: absolute;
	text-align: center;
	top: 0;
	right: 0;
	height: auto;
	width: 100%;
	margin: 0;
	transform: translateY(4.5rem);
	background-color: whitesmoke;
} 

@media (min-width: 62.5rem) {

	.hamburger-menu {
		display: none;
	}

	#site-navigation {
		display: block;
	}

	#site-navigation a {
		padding: .75rem 1.25rem;
	}


	#site-navigation ul,
	#site-navigation.toggled ul {
		display: flex;
	}

	#site-navigation a:hover,
	#site-navigation a:focus,
	#site-navigation a:active {
		background-color: var(--text-color);
		color: var(--background-color);
	}

} 

/********** Main Content **********/

#headline-main {
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	box-shadow: 0 0 0.1875rem 0.125rem rgba(0, 0, 0, 0.112);
	max-width: 70rem;
	padding: 1rem;
	align-items: center;
    justify-content: center;
	
}

#headline-main p {
	font-size: 1rem;
}

.headline-article {
	max-width: 90vw;
}

.headline-image {
	width: 90vw;
}

/* added media query to head in the direction of responsive */
@media (min-width: 62.5rem) {
	#headline-main {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 90vw;
		justify-content: center;
		align-items: baseline;
		margin: 1rem;
		padding: .5rem;
	}

	.headline-image {
		max-width: calc(100% - 20px);
		margin: 0 1rem;
		
	}

	.headline-article {
		max-width: calc(90% - 40px);
		margin: 2rem 4rem;
	}
}




/********** Site Footer **********/

footer {
    background-color: var(--banner-color);
    font-size: 1rem;
	padding: 1rem;
	margin: 0 auto;
	text-align: center;
	max-width: 120rem;
}

.footer-icons ul {
	background-color: #ffffff79;
	border-radius: 2rem;
	padding: 1rem 1rem .5rem;
	margin: 0 auto;
	display: inline-block;
}

.footer-icons li {
	padding: 0 .25rem;
	list-style: none;
	display: inline-block;
}

.footer-icons svg {
		width: 2rem;
		height: 2rem;
		margin: 0 auto;
	}

.footer-icons path {
	fill: currentColor;
}



